*{
    background-color: #202328;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

/* header */

.website-logo {
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.navbar{
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    width: 100%;
    position: fixed;
    z-index: 4; 
} 

.menu {
    display: flex;
    margin-right: 120px;
    justify-content: center;
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 80px;
    color: white;
}

.link:hover {
    color:  #003FFE;
}

.list-logo {
    width: 40px;
    height: 40px;
}

.authorization {
    color: white;
    background-color: rgb(68, 68, 158);
    width: 150px;
    height: 60px;
    border-radius: 8px;
    margin-right: 100px;
    text-align: center;
    padding-top: 17px;
    text-decoration: none ;
}

.authorization:hover {
    background-color: rgb(111, 74, 205);
    color: black;
}

/* search bar */
.search-container {
   padding-top: 130px;
   display: flex;
   justify-content: center;
}

.search-form{
   height: 40px;
   width: 800px;
   display: flex;
  
}

.search-bar{
   background-color: #686c72;
   border-radius: 12px; 
   padding-left: 300px;
   font-size: 20px;
}

::placeholder {
    color: black;
}

.search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
   
}

.search-btn {
    width: 40px;
    height: 40px;
    border: 0px;
}

/* black-theme */
.black-theme {
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: rgba(0, 0, 0, 0.6);
}


/* swiper */

.swiper {
    width: 100%;
    height: 500px;
    width: 1000px;
    top: 40px;
    border-radius: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: #003FFE;
    background-color: transparent ;
}

.title-for-slides {
    position:absolute;
    width:100%;
    background: rgba(255, 166, 0, 0.309);   
    bottom:0;
    left:0;
    padding-left:15px;
    font-size:17px;
    z-index:5;
}

.premiers {
    background: rgba(255, 166, 0, 0.309);  
    color: black;
}

/* film lists */
.Trendy-section-heading {
   padding-top: 70px;
   padding-left: 50px;
   font-size: 40px;
   color: #003FFE;
}

.Trendy-section {
    display: flex;
    flex-direction: row;
    
}

.Trendy-div {
   position: relative;
   margin-top: 28px;
   margin-left: 50px;
   height: 180px;
   width: 180px;
}

.Trendy-img {
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s;
}

.Trendy-img:hover {
    box-shadow: 0 0 20px 2px rgba(134, 130, 167, 0.6);
    transform: scale(1.1);
    z-index: 3;
}

/* sign up form */

.container {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 250px;
}

.registration {
    padding-top: 15px;
    padding-bottom: 45px;
    color: #2f343b;
}

.input {
   background-color: #fff;
   height: 30px;
   padding-left: 100px;
   font-size: 20px;
   color: #2f343b;
   border-radius: 15px;
}

.input::placeholder {
    color: #686c72;
}

.user-details {
    width: 700px;
    z-index: 999; 
    margin: 0 auto;
}

.details {
    font-size: 20px;
    margin: 10px;
    background: #8825D0; 
    color: white;
}

.registration, form, .input-box, .user-details  {
    background: linear-gradient(50deg,#003FFE, #dc16b4); 
}

.submit {
    border-radius: 15px;
    background-color:  rgb(68, 68, 158);
    color:#f1f2f5;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    width: 120px;
    margin-top: 20px;
}

.submit:hover {
    background-color:  rgb(123, 63, 115);
}
